<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.openstar.post.mapper.PostMapper">
 
	 	<insert id="insertPost" parameterType="map">
 	
 		INSERT INTO	`post`
 			(
	 			`userId`
	 			, `postId`
				, `content`
				, `imagePath`
				, `createdAt`
				, `updatedAt`
			)
 		VALUES
 			(
 				#{userId}
 				, #{postId}
 				, #{content}
 				, #{imagePath}
 				, NOW()
 				, NOW()
 			)
 		
 	</insert>
 	
 	<select id="getPostByPostId" parameterType="map" resultType="com.openstar.post.domain.Post">
 	
 		SELECT
			`id`
 			, `userId`
 			, `postId`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`postId` = #{postId}
 	
 	</select>
 
 </mapper>
