<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.openstar.post.mapper.PostMapper">
 
 	<!-- community -->
 
	 	<insert id="insertPost" parameterType="map">
 	
 		INSERT INTO	`post`
 			(
	 			`userId`
	 			, `userName`
	 			, `postId`
				, `content`
				, `imagePath`
				, `createdAt`
				, `updatedAt`
			)
 		VALUES
 			(
 				#{userId}
 				, #{userName}
 				, #{postId}
 				, #{content}
 				, #{imagePath}
 				, NOW()
 				, NOW()
 			)
 		
 	</insert>
 	
 	<select id="getPostByPostId" parameterType="map" resultType="com.openstar.post.domain.Post">
 	
 		SELECT
			`id`
 			, `userId`
 			, `userName`
 			, `postId`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`postId` = #{postId}
 	
 	</select>
 	
 	<select id="selectPostDetailByPostid" resultType="com.openstar.post.domain.Post">
 	
 		SELECT
			`id`
 			, `userId`
 			, `userName`
 			, `postId`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`id` = #{id}
 	
 	</select>
 	
 	
 	<!-- review -->
 	
 	<insert id="insertReview" parameterType="map">
 	
 		INSERT INTO `review`
 			(
 				`userId`
 				, `userName`
 				, `content`
 				, `rating`
 				, `imagePath`
 				, `createdAt`
 				, `updatedAt`
 			)
 		VALUES
 			(
 				#{userId}
 				, #{userName}
 				, #{content}
 				, #{rating}
 				, #{imagePath}
 				, NOW()
 				, NOW()
 			)
 	
 	</insert>
 	
 	<select id="selectReviewById" resultType="com.openstar.post.domain.Review">
 	
 		SELECT
 			`id`
 			, `userId`
 			, `userName`
 			, `content`
 			, `rating`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`review`
 	
 	</select>
 
 </mapper>
