@charset "UTF-8";

.contents{
	min-height: 500px;
}

.sign-up-box {width:600px;}
.sign-in-box {width:600px;}
/*.first-page {width:600px;}*/
.img-concert {
	width:200px;
	padding: 40px;
}

.sign-up-table th {
	background-color:#D8D8D8;
}


 .flex-container {
  display: flex;
  /* 아이템들을 가로방향으로 흐르게 해준다 */
  flex-direction: row;
  width: 100px;
}

.flex-container > img {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
} 

.flex-item {
  background-color: #f1f1f1;
  width: 192px; /* 포스터 이미지의 원래 가로 크기 */
  height: 288px; /* 포스터 이미지의 원래 세로 크기 */
  margin: 10px;
  text-align: center;
  font-size: 30px;
}

